{% extends 'base.html.twig' %}

{% block title %}Pagina di preventivo{% endblock %}

{% block body %}
    <div class="">
        <img src="{{ asset('img/background.png') }}" alt="" class="background">
    </div>

    <div class="content">

        <h2>Scegli il tipo di costruzione</h2>
        <select id="tipo-costruzione" onchange="showOptions()">
            <option value="nuova-costruzione">Nuova costruzione</option>
            <option value="costruzione-esistente">Costruzione esistente</option>
        </select><br>

        <form id="inserimento" action="{{ path('api_analyzeForm') }}" method="post">

            <div id="opzioni-nuova-costruzione">
                <h1>Nuova costruzione</h1>

                <!-- muratura di tamponamento -->
                <div class="muratura_tamponamento">
                    <h3>Muratura di tamponamento</h3>
                    <label for="superficieTamponamento">Superficie (mq):</label>
                    <input type="text" id="superficieTamponamento" name="superficieTamponamento"><br>
                    <label for="spessoreTamponamento">Spessore Blocco Ambiente (cm):</label>
                    <input type="text" id="spessoreTamponamento" name="spessoreTamponamento"><br>
                    <label for="sceltaMaltaTamponamento">Scelta Malta:</label>
                    <select name="sceltaMaltaTamponamento" id="sceltaMaltaTamponamento">
                        <option value="maltaPronta">Malta Pronta</option>
                        <option value="maltaMix">Malta Mix</option>
                    </select><br>
                    <img src="{{ asset('img/muratura_di_tamponamento.png') }}" alt="" class="imagine">
                </div>


                <!-- ciclo di intonaco e finitura su tamponamento -->
                <div class="ciclo_intonaco_finitura_tamp">
                <h3>Ciclo di intonaco e finitura su tamponamento</h3>
                <label for="superficieIntonacoTamponamento">Superficie (mq):</label>
                <input type="text" id="superficieIntonacoTamponamento" name="superficieIntonacoTamponamento"><br>
                <label for="sceltaIntonacoTamponamento">Scelta Intonaco:</label>
                <select name="sceltaIntonacoTamponamento" id="sceltaIntonacoTamponamento">
                    <option value="alCivileInterno">Al Civile Interno: ICN e Malta Fine</option>
                    <option value="alCivileEsterno">Al Civile Esterno: ICN e SNT+</option>
                    <option value="intonacoMaterico">Intonaco a Civile e Rasatura Materica (Interno/Esterno): ICN
                        +Canapulino</option>
                    <option value="intonacoCanaposo">Intonaco a Civile e Rasatura Materica (Interno): ICN + Canaposo
                    </option>
                    <option value="intonacoBB500">Intonaco di Corpo Materico (Interno/Esterno): BB 500 Venezia</option>
                </select><br>
                <img src="{{ asset('img/ciclo_di_intonaco.png') }}" alt="" class="imagine">
                </div>

                <!-- tavoli divisori-->
                <div class="tavolati_divisori">
                <h3>Tavolati divisori</h3>
                <label for="materiale">Materiale:</label>
                <select name="materiale" id="materiale">
                    <option value="bloccoAmbiente">Blocco Ambiente</option>
                    <option value="doppiaLastra">Doppia lastra gessofibra + canafiber</option>
                </select><br>
                <label for="superficieTavoliDivisori">Superficie:</label>
                <input type="text" id="superficieTavoliDivisori" name="superficieTavoliDivisori"><br>
                <label for="spessoreTavoliDivisori">Spessore:</label>
                <input type="text" id="spessoreTavoliDivisori" name="spessoreTavoliDivisori"><br>
                <div id="bloccoAmbiente">
                    <label for="maltaTavDiv">Scelta malta</label>
                    <select name="maltaTavDiv" id="maltaTavDiv">
                        <option value="maltaPronta">Malta Pronta</option>
                        <option value="maltaMix">Malta Mix</option>
                    </select><br>
                </div>
                <div id="doppiaLastra" style="display: none;">
                    <label for="spessoreCanafiber">Spessore canafiber</label>
                    <input type="text" id="spessoreCanafiber" name="spessoreCanafiber"><br>
                    <label for="superficieCanafiber">Superficie canafiber</label>
                    <input type="text" id="superficieCanafiber" name="superficieCanafiber"><br>
                </div>
                <img src="{{ asset('img/tavolati_divisori.png') }}" alt="" class="imagine">
                </div>

                <!-- ciclo di intonaco e finitura su tavoli divisori-->
                <div class="ciclo_intonaco_finitura_tavoli_divisori">
                    <h3>Ciclo di intonaco e finitura su tavolati divisori</h3>
                    <label for="sceltaIntonacoTavoliDivisori">Scelta Intonaco:</label>
                    <select name="sceltaIntonacoTavoliDivisori" id="sceltaIntonacoTavoliDivisori">
                        <option value="1">Al civile interno: ICN e Malta Fine</option>
                        <option value="2">Intonaco a civile e rasatura materica: ICN + Canapulino</option>
                        <option value="3">Intonaco a civile e rasatura materica: ICN + Canaposo</option>
                        <option value="4">Intonaco di corpo materico: BB 500 Venezia</option>
                    </select><br>
                    <img src="{{ asset('img/ciclo_di_intonaco.png') }}" alt="" class="imagine">
                </div>

                <!-- isolamento copertura -->
                <div class="isolamento_copertura">
                    <h3>Isolamento copertura</h3>
                    <label for="superficieIsolamentoCopertura">Superficie (mq):</label>
                    <input type="text" id="superficieIsolamentoCopertura" name="superficieIsolamentoCopertura"><br>
                    <label for="spessoreIsolamentoCopertura">Spessore (cm):</label>
                    <input type="text" id="spessoreIsolamentoCopertura" name="spessoreIsolamentoCopertura"><br>
                    <img src="{{ asset('img/isolamento_tetto_e_sottotetto.png') }}" alt="" class="imagine">
                </div>


                <!-- isolamento sottofondo -->
                <div class="isolamento_sottofondo">
                    <h3>Isolamento sottofondo</h3>
                    <label for="superficieIsolamentoSottofondo">Superficie (mq):</label>
                    <input type="text" id="superficieIsolamentoSottofondo" name="superficieIsolamentoSottofondo"><br>
                    <label for="spessoreIsolamentoSottofondo">Spessore (cm):</label>
                    <input type="text" id="spessoreIsolamentoSottofondo" name="spessoreIsolamentoSottofondo"><br><br>
                    <img src="{{ asset('img/isolamento_sottofondo.png') }}" alt="" class="imagine">
                </div>


                <label for="agente">Agente: </label>
                <input type="text" id="agente" name="agente"><br>

            </div>



            <div id="opzioni-costruzione-esistente" style="display: none;">
                <h1>Costruzione esistente</h1>

                <!-- controparete esterna -->
                <div class="controparete_esterna">
                    <h3>Controparete esterna</h3>
                    <label for="superficieContropareteEsterna">Superficie:</label>
                    <input type="text" id="superficieContropareteEsterna" name="superficieContropareteEsterna"><br>
                    <label for="controparteEsterna">Scelta tra:</label>
                    <select name="controparteEsterna" id="controparteEsterna">
                        <option value="controparteEsterna1">Solo blocco ambiente</option>
                        <option value="controparteEsterna2">Blocco ambiente + canafiber</option>
                        <option value="controparteEsterna3">Blocco ambiente + bio beton pronto</option>
                        <option value="controparteEsterna4">Blocco ambiente + canafiber intercapedine</option>
                    </select><br>
                    <div id="controparteEsterna1">
                        <label for="spessoreBA">Spessore blocco ambiente:</label>
                        <input type="text" id="spessoreBA" name="spessoreBA"><br>
                    </div>
                    <div id="controparteEsterna2" style="display: none;">
                        <label for="spessoreBA">Spessore blocco ambiente:</label>
                        <input type="text" id="spessoreBA" name="spessoreBA"><br>
                        <label for="spessoreCanafiber">Spessore canafiber:</label>
                        <input type="text" id="spessoreCanafiberEsterno" name="spessoreCanafiberEsterno"><br>
                    </div>
                    <div id="controparteEsterna3" style="display: none;">
                        <label for="spessoreBA">Spessore blocco ambiente:</label>
                        <input type="text" id="spessoreBA" name="spessoreBA"><br>
                        <label for="spessoreBioBeton">Spessore bio beton pronto:</label>
                        <input type="text" id="spessoreBioBeton" name="spessoreBioBeton"><br>
                    </div>
                    <div id="controparteEsterna4" style="display: none;">
                        <label for="spessoreBA">Spessore blocco ambiente:</label>
                        <input type="text" id="spessoreBA" name="spessoreBA"><br>
                        <label for="canafiberIntercapedine">Canafiber intercapedine:</label>
                        <input type="text" id="canafiberIntercapedine" name="canafiberIntercapedine"><br>
                    </div>
                    <img src="{{ asset('img/controparete_esterna.jpg') }}" alt="" class="imagine">

                </div>


                <!-- ciclo di intonaco e finitura controparte esterna -->
                <div class="ciclo_intonaco_finitura_controparete_esterna">
                    <h3>Ciclo di intonaco e finitura controparete esterna</h3>
                    <label for="sceltaIntFinEst">Scelta tra:</label>
                    <select name="sceltaIntFinEst" id="sceltaIntFinEst">
                        <option value="sceltaIntFinEst1">Al civile : ICN e SNT+</option>
                        <option value="sceltaIntFinEst2">Intonaco a civile e rasatura materica: ICN + Canapulino</option>
                        <option value="sceltaIntFinEst3">Intonaco di corpo materico : BB 500 Venezia</option>
                    </select><br>
                    <img src="{{ asset('img/ciclo_di_intonaco.png') }}" alt="" class="imagine">
                </div>


                <!-- controparete interna -->
                <div class="controparete_interna">
                    <h3>Controparete interna</h3>
                    <label for="superficieContropareteInterna">Superficie:</label>
                    <input type="text" id="superficieContropareteInterna" name="superficieContropareteInterna"><br>
                    <label for="controparteInterna">Scelta tra:</label>
                    <select name="controparteInterna" id="controparteInterna">
                        <option value="controparteInterna1">Solo blocco ambiente</option>
                        <option value="controparteInterna2">Blocco ambiente + canafiber</option>
                        <option value="controparteInterna3">Blocco ambiente + bio beton pronto</option>
                        <option value="controparteInterna4">lastra gessofibra + bio beton pronto</option>
                        <option value="controparteInterna5">lastra gessofibra + canafiber</option>
                    </select><br>
                    <div id="controparteInterna1">
                        <label for="spessoreBA">Spessore blocco ambiente:</label>
                        <input type="text" id="spessoreBAInt1" name="spessoreBAInt1"><br>
                    </div>
                    <div id="controparteInterna2" style="display: none;">
                        <label for="spessoreBA">Spessore blocco ambiente:</label>
                        <input type="text" id="spessoreBAInt2" name="spessoreBAInt2"><br>
                        <label for="spessoreCana">Spessore canafiber:</label>
                        <input type="text" id="spessoreCanaInt" name="spessoreCanaInt"><br>
                    </div>
                    <div id="controparteInterna3" style="display: none;">
                        <label for="spessoreBA">Spessore blocco ambiente:</label>
                        <input type="text" id="spessoreBAInt3" name="spessoreBAInt3"><br>
                        <label for="spessoreBBPronto">Spessore bio beton pronto:</label>
                        <input type="text" id="spessoreBBProntoInt1" name="spessoreBBProntoInt1"><br>
                    </div>
                    <div id="controparteInterna4" style="display: none;">
                        <label for="spessoreBBPronto">Spessore bio beton pronto:</label>
                        <input type="text" id="spessoreBBProntoInt2" name="spessoreBBProntoInt2"><br>
                    </div>
                    <div id="controparteInterna5" style="display: none;">
                        <label for="spessoreCana">Spessore canafiber:</label>
                        <input type="text" id="spessoreCanaInt2" name="spessoreCanaInt2"><br>
                    </div>
                    <img src="{{ asset('img/controparete_esterna.jpg') }}" alt="" class="imagine">
                </div>


                <!-- ciclo di intonaco e finitura su controparte interna -->
                <div class="ciclo_intonaco_finitura_controparete_interna">
                    <h3>Ciclo di intonaco e finitura controparete interna</h3>
                    <label for="sceltaIntFinInt">Scelta tra:</label>
                    <select name="sceltaIntFinInt" id="sceltaIntFinInt">
                        <option value="sceltaIntFinInt1">Al civile interno: ICN e Malta Fine</option>
                        <option value="sceltaIntFinInt2">Intonaco a civile e rasatura materica: ICN + Canapulino</option>
                        <option value="sceltaIntFinInt3">intonaco a civile e rasatura materica: ICN + Canaposo</option>
                        <option value="sceltaIntFinInt4">intonaco di corpo materico: BB 500 Venezia</option>
                    </select><br>
                    <img src="{{ asset('img/ciclo_di_intonaco.png') }}" alt="" class="imagine">
                </div>


                <!-- isolamento copertura -->
                <div class="isolamento_copertura">
                    <h3>Isolamento copertura</h3>
                    <label for="superficieIsolamentoCoperturaOLD">Superficie:</label>
                    <input type="text" id="superficieIsolamentoCoperturaOLD" name="superficieIsolamentoCoperturaOLD"><br>
                    <label for="spessoreIsolamentoCoperturaOLD">Spessore:</label>
                    <input type="text" id="spessoreIsolamentoCoperturaOLD" name="spessoreIsolamentoCoperturaOLD"><br>
                    <img src="{{ asset('img/isolamento_tetto_e_sottotetto.png') }}" alt="" class="imagine">
                </div>



                <!--isolamento solaio sottofondo-->
                <div class="isolamento_solaio_sottofondo">
                    <h3> Isolamento solaio sottofondo</h3>
                    <label for="superficieIsolamentoSolaioSottofondo">Superficie:</label>
                    <input type="text" id="superficieIsolamentoSolaioSottofondo" name="superficieIsolamentoSolaioSottofondo"><br>
                    <label for="spessoreIsolamentoSolaioSottofondo">Spessore:</label>
                    <input type="text" id="spessoreIsolamentoSolaioSottofondo" name="spessoreIsolamentoSolaioSottofondo"><br>
                    <img src="{{ asset('img/isolamento_solaio.png') }}" alt="" class="imagine">
                </div>



                <!-- isolamento sottofondo -->
                <div class="isolamento_sottofondo">
                    <h3>Isolamento sottofondo</h3>
                    <label for="superficieIsolamentoSottofondoOLD">Superficie:</label>
                    <input type="text" id="superficieIsolamentoSottofondoOLD" name="superficieIsolamentoSottofondoOLD"><br>
                    <label for="spessoreIsolamentoSottofondoOLD">Spessore:</label>
                    <input type="text" id="spessoreIsolamentoSottofondoOLD" name="spessoreIsolamentoSottofondoOLD"><br>
                    <img src="{{ asset('img/isolamento_sottofondo.png') }}" alt="" class="imagine">
                </div>

                <!-- termointonaco bio beton 500 -->
                <div class="termointonaco_bio_beton">
                    <h3>Termointonaco Bio Beton 500</h3>
                    <label for="superficieTermointonaco">Superficie:</label>
                    <input type="text" id="superficieTermointonaco" name="superficieTermointonaco"><br>
                    <label for="spessoreTermointonaco">Spessore:</label>
                    <input type="text" id="spessoreTermointonaco" name="spessoreTermointonaco"><br><br><br>
                    <img src="{{ asset('img/termointonaco_bio_beton.png') }}" alt="" class="imagine">
                </div>


                <label for="agente">Agente: </label>
                <input type="text" id="agente" name="agente"><br>

            </div>
            <button type="submit" class="btn" id="confermaAggiunte">Conferma aggiunte</button>
        </form>


    </div>
{% endblock %}

{% block javascripts %}

    <script>
        // Seleziona la combo box
        var controparteInternaComboBox = document.getElementById("controparteInterna");

        // Aggiungi un listener per l'evento change
        controparteInternaComboBox.addEventListener("change", function() {
            // Ottieni il valore selezionato nella combo box
            var scelta = controparteInternaComboBox.value;


            // Visualizza il div appropriato in base alla scelta
            if (scelta === "controparteInterna1") {
                document.getElementById("controparteInterna1").style.display = "block";
                document.getElementById("contropareteInterna2").style.display = "none";
                document.getElementById("contropareteInterna3").style.display = "none";
                document.getElementById("contropareteInterna4").style.display = "none";
                document.getElementById("contropareteInterna5").style.display = "none";


            } else if (scelta === "controparteInterna2") {
                document.getElementById("controparteInterna2").style.display = "block";
                document.getElementById("controparteInterna1").style.display = "none";
                document.getElementById("controparteInterna3").style.display = "none";
                document.getElementById("controparteInterna4").style.display = "none";
                document.getElementById("contropareteInterna5").style.display = "none";


            } else if (scelta == "controparteInterna3"){
                document.getElementById("controparteInterna3").style.display = "block";
                document.getElementById("controparteInterna1").style.display = "none";
                document.getElementById("controparteInterna2").style.display = "none";
                document.getElementById("controparteInterna4").style.display = "none";
                document.getElementById("contropareteInterna5").style.display = "none";


            }else if (scelta == "controparteInterna4"){
                document.getElementById("controparteInterna4").style.display = "block";
                document.getElementById("controparteInterna1").style.display = "none";
                document.getElementById("controparteInterna3").style.display = "none";
                document.getElementById("controparteInterna2").style.display = "none";
                document.getElementById("contropareteInterna5").style.display = "none";


            }else if (scelta == "controparteInterna5"){
                document.getElementById("controparteInterna5").style.display = "block";
                document.getElementById("controparteInterna1").style.display = "none";
                document.getElementById("controparteInterna3").style.display = "none";
                document.getElementById("controparteInterna4").style.display = "none";
                document.getElementById("contropareteInterna2").style.display = "none";


            }
        });


    </script>

    <script>
        // Seleziona la combo box
        var controparteEsternaComboBox = document.getElementById("controparteEsterna");

        // Aggiungi un listener per l'evento change
        controparteEsternaComboBox.addEventListener("change", function() {
            // Ottieni il valore selezionato nella combo box
            var scelta = controparteEsternaComboBox.value;


            // Visualizza il div appropriato in base alla scelta
            if (scelta === "controparteEsterna1") {
                document.getElementById("controparteEsterna1").style.display = "block";
                document.getElementById("controparteEsterna2").style.display = "none";
                document.getElementById("controparteEsterna3").style.display = "none";
                document.getElementById("controparteEsterna4").style.display = "none";
            } else if (scelta === "controparteEsterna2") {
                document.getElementById("controparteEsterna2").style.display = "block";
                document.getElementById("controparteEsterna1").style.display = "none";
                document.getElementById("controparteEsterna3").style.display = "none";
                document.getElementById("controparteEsterna4").style.display = "none";
            } else if (scelta === "controparteEsterna3"){
                document.getElementById("controparteEsterna3").style.display = "block";
                document.getElementById("controparteEsterna1").style.display = "none";
                document.getElementById("controparteEsterna2").style.display = "none";
                document.getElementById("controparteEsterna4").style.display = "none";
            } else if (scelta === "controparteEsterna4"){
                document.getElementById("controparteEsterna4").style.display = "block";
                document.getElementById("controparteEsterna1").style.display = "none";
                document.getElementById("controparteEsterna2").style.display = "none";
                document.getElementById("controparteEsterna3").style.display = "none";
            }
        });


    </script>

    <script>
        function showOptions() {
            var scelta = document.getElementById('bloccoAmbiente').value;
            if (scelta === 'nuova-costruzione') {
                document.getElementById('bloccoAmbiente').style.display = 'block';
                document.getElementById('doppiaLastra').style.display = 'none';
            } else {
                document.getElementById('bloccoAmbiente').style.display = 'none';
                document.getElementById('doppiaLastra').style.display = 'block';
            }
        }
    </script>

    <script src="{{ asset('js/cambia-scelta.js') }}"></script>
{% endblock %}

{%  block stylesheets %}
    <style>
        /* Stile per il body */
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        /* Stile per le immagini */
        /* Stile per le immagini */
        .imagine {
            width: 200px;
            height: 200px;
            position: relative; /* Enable positioning */
            right: -10px; /* Move the image to the right */
            top: -10px; /* Move the image upwards */
            border-radius: 15px; /* Rounded corners */
            mask-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), transparent);
            -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), transparent); /* For Safari */
        }

        /* Additional class for the faded border effect */
        .imagine::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px; /* Match the border radius of the image */
            box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5); /* Outer white glow for the fade effect */
            pointer-events: none; /* Make sure this layer doesn't interfere with interactions */
            z-index: -1; /* Ensure the pseudo-element is behind the image */
        }



        /* Stile per il contenitore del background */
        .background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            filter: blur(4px);
            transform: scale(1.1);
            z-index: -1;
        }

        /* Stile per il contenitore del contenuto */
        .content {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile muratura tamponamento*/
        .muratura_tamponamento {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile ciclo intonaco finitura tamponamento */
        .ciclo_intonaco_finitura_tamp {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile tavolati divisori */
        .tavolati_divisori {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile ciclo intonaco finitura tavolati divisori */
        .ciclo_intonaco_finitura_tavoli_divisori {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile isolamento copertura */
        .isolamento_copertura {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile isolamento sottofondo */
        .isolamento_sottofondo {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* sile controparete esterna */
        .controparete_esterna {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile ciclo intonaco finitura controparete esterna */
        .ciclo_intonaco_finitura_controparete_esterna {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile controparete interna */
        .controparete_interna {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile ciclo intonaco finitura controparete interna */
        .ciclo_intonaco_finitura_controparete_interna {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile isolamento solaio sottofondo */
        .isolamento_solaio_sottofondo {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile termointonaco bio beton 500 */
        .termointonaco_bio_beton {
            position: relative;
            z-index: 1;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(9px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            margin: auto; /* Aggiunto per centrare il contenuto */
            max-width: 600px; /* Aggiunto per limitare la larghezza del contenuto */
            animation: fadeIn 1s ease-in-out; /* Aggiunto effetto di fade iniziale più corto */
        }

        /* stile 

        /* Stile per il titolo */
        h2 {
            color: white;
            font-size: 24px; /* Esempio di dimensione del font più grande */
            text-align: center; /* Centra il testo */
        }

        /* Stile per le opzioni */
        select, input, button {
            margin-bottom: 30px; /* Aumenta lo spazio tra gli elementi */
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }

        /* Stile per i pulsanti */
        button {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px 20px; /* Aumenta il padding per rendere i pulsanti più grandi */
            border-radius: 5px;
            transition: background-color 0.3s; /* Aggiunge una transizione al cambiamento del colore di sfondo */
        }

        button:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        /* Aggiungi animazione di fade */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

    </style>
{% endblock %}
