<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preventivo Costruzione</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #d6eaf8;
            padding: 20px;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .section {
            margin-bottom: 20px;
        }
        .section:last-child {
            margin-bottom: 0;
        }
        .title {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="section">
        <div class="title">Muratura di Tamponamento</div>
        <div class="item">
            n. {{ superficieTamponamento }} mq <b>Blocco Ambiente®</b> in canapa e calce dim. 20 x 36 sp. {{ spessoreTamponamento }} cm = {{ metriCubiBloccoAmbiente }} mc @ € 380,00 /mc (considerato per il 90% del volume di muratura) ---------> € {{ prezzoMetroQuadroBloccoAmbiente }} /mq
        </div>
        <div class="item">
            n. {{ superficieTamponamento }} mq <b>Malta di allettamento</b> di canapa e calce in sacchi da miscelare in cantiere 24 ore prima dell’uso = {{ metriCubiMalta }} mc @ € 406,00 /mc (considerato per il 10% del volume di muratura) ---------> € {{ prezzoMetroQuadroMalta }} /mq
        </div>
        <div class="item">
            In alternativa, la Malta di Allettamento può essere fornita in secchi già pronta all’uso:
            <div class="calculation">
                n. {{ superficieTamponamento }} mq <b>Malta di allettamento</b> di canapa e calce in secchi da 20 kg (15 lt) = {{ calcoloSecchiMalta }} secchi @ € 23,00 cad (considerato per il 10% del volume di muratura) ---------> € {{ prezzoMetroQuadroMaltaSecchi }} /mq
            </div>
        </div>
    </div>

    <div class="section">
        <div class="title">Ciclo di Finitura Interno al Civile</div>
        <div class="item">
            n. {{ superficieIntonacoTamponamento }} mq <b>Intonaco di Calce Naturale</b> in sacco da 25 kg = {{ calcoloSacchiIntonaco }} sacchi @ € 11,00 /sacco (intonaco di corpo sp. 2cm - resa 30kg/mq) ---------> € {{ prezzoMetroQuadroSacchiIntonaco }} /mq
        </div>
        <div class="item">
            n. {{ superficieIntonacoTamponamento }} mq <b>Malta Fine intonaco a sabbia</b> in sacco da 25 kg = {{ calcoloSacchiMaltaFinetura }} sacchi @ € 6,00 /sacco (rasatura interna sp. 3mm - resa 4kg/mq) ---------> € {{ prezzoMetroQuadroMaltaFinetura }} /mq
        </div>
    </div>

    <div class="section">
        <div class="title">Ciclo di Finitura Esterno al Civile</div>
        <div class="item">
            n. {{ superficieIntonacoTamponamento }} mq <b>Intonaco di Calce Naturale</b> in sacco da 25 kg = {{ calcoloSacchiIntonaco }} sacchi @ € 11,00 /sacco (intonaco di corpo sp. 2cm - resa 30kg/mq) ---------> € {{ prezzoMetroQuadroSacchiIntonaco }} /mq
        </div>
        <div class="item">
            n. {{ superficieIntonacoTamponamento }} mq <b>SIVIT Stabilitura Idraulica Traspirante Fine Plus</b> in sacco da 25 kg = {{ calcoloSacchiSNTplus }} sacchi @ € 26,00 /sacco (rasatura esterna sp. 4mm - resa 8kg/mq) ---------> € {{ prezzoMetroQuadroSNTplus }} /mq
        </div>
        <div class="item">
            n. 1 sacco <b>QMU Calce Naturale Tinta Lasciapassare</b> per ogni porta/finestra per preparazione punti critici come da indicazioni del manuale di posa (pag. 1/1) = 1 @ € 26,00 cad
        </div>
    </div>

    <div class="section">
        <div class="title">Ciclo di Finitura Interno/Esterno in Canape</div>
        <div class="item">
            n. {{ superficieIntonacoTamponamento }} mq <b>Bio Beton 500 Kenaf</b> in secchio da 20 lt = {{ calcoloSecchiBioBeton }} secchi @ € 23,00 /secchio (intonaco di corpo interno/esterno sp. 1,5cm - resa 1 secchio/mq) ---------> € {{ prezzoMetroQuadroBioBeton }} /mq
        </div>
        <div class="item">
            n. {{ superficieIntonacoTamponamento }} mq <b>Additivo Probiotico</b> - 0,5lt secchio di Bio Beton = {{ calcoloAdditivoProbiotico  }} /lt @ € 13,00 /lt ---------> € {{ prezzoMetroQuadroAdditivoProbiotico }} /mq
        </div>
        <div class="item">
            n. {{ superficieIntonacoTamponamento }} mq <b>Intonaco di Calce Naturale</b> in sacco da 25 kg = {{ calcoloSacchiIntonaco }} sacchi @ € 11,00 /sacco (intonaco di corpo sp. 2cm - resa 30kg/mq) ---------> € {{ prezzoMetroQuadroSacchiIntonaco }} /mq
        </div>
        <div class="item">
            n. {{ superficieIntonacoTamponamento }} mq <b>Campagna in secchio</b> in secchio da 20 lt = {{ calcoloSecchiCanapulino }} secchi @ € 27,00 /secchio (rasatura interna/esterna sp. 5mm - resa 1 secchio/3mq) ---------> € {{ prezzoMetroQuadroCanapulino }} /mq
        </div>
        <div class="item">
            n. 1 sacco <b>QMU Calce Naturale Tinta Lasciapassare</b> per ogni porta/finestra per preparazione punti critici come da indicazioni del manuale di posa (pag. 1/1) = 1 @ € 26,00 cad
        </div>
    </div>

    <div class="section">
        <div class="title">Isolamento Copertura</div>
        <div class="item">
            n. {{ superficieIsolamentoCopertura }} mq <b>Bio Beton 200 Kenaf</b> di canapa e calce sp. {{ spessoreIsolamentoCopertura }} cm = {{ calcoloIsolamentoCopertura }} mc @ € 230,00 /mc (premiscelato e pronto all'uso in big bag da 1 o 2 mc) ---------> € {{ prezzoMetroQuadroIsolamentoCopertura }} /mq
        </div>
    </div>

    <div class="section">
        <div class="title">Isolamento Sottofondo</div>
        <div class="item">
            n. {{ superficieIsolamentoSottofondo }} mq <b>Bio Beton 200 Kenaf</b> di canapa e calce sp. {{ spessoreIsolamentoSottofondo }} cm = {{ calcoloIsolamentoSottofondo }} mc @ € 230,00 /mc (premiscelato e pronto all'uso in big bag da 1 o 2 mc) ---------> € {{ prezzoMetroQuadroIsolamentoSottofondo }} /mq
        </div>
    </div>

    <div class="section">
        <div class="title">Controparete Interna</div>
        <div class="item">
            n. 0 mq <b>Fibra di canapa in pannelli</b> in fibra di canapa dim. 60 x 120 cm = 0 mq @ € 280,00 /mc (compreso telaio metallico e accessori con eventuale detrazione) ---------> € 0,00 /mq
        </div>
    </div>
</div>
</body>
</html>
